//** Load fonts from this directory.
$icomoon-font-path: "../images/font" !default;

$icon-defalute-color:#999 !default; 
$icon-hover-color:$theme  !default;  
 
 $icon-sort-amount-desc:"\ea4d";
$icon-sort-amount-asc:"\ea4c";
$icon-p: "\e900";
$icon-state: "\e901";
$icon-del: "\e902";
$icon-send: "\e903";
$icon-time: "\e904";
$icon-tasklist: "\e905";
$icon-search: "\e906";
$icon-template: "\e907";
$icon-add: "\e908";
$icon-channel: "\e909";
$icon-check: "\e90a";
$icon-daright: "\e90b";
$icon-daleft: "\e90c";
$icon-circle: "\e90d";
$icon-home: "\e90e";
$icon-code: "\e90f";
$icon-asterisk: "\e910";
$icon-daup: "\e911";
$icon-dadown: "\e912";
$icon-include: "\e913";
$icon-exclude: "\e914";
$icon-close: "\e915";
$icon-list: "\e916";
$icon-restart: "\e917";
$icon-import: "\e918";
$icon-edit: "\e919";
$icon-tool: "\e91a";
$icon-database: "\e91b";
$icon-data: "\e91c";
$icon-pie: "\e91d";
$icon-return: "\e91e";
$icon-update: "\e91f";
$icon-offline: "\e920";
$icon-upline: "\e921";
$icon-block: "\e922";
$icon-voice: "\e923";
$icon-novoice: "\e924";
$icon-stop: "\e925";
$icon-play: "\e926";
$icon-adjust: "\e927";
$icon-more: "\e928";
$icon-copy: "\e929";
$icon-message: "\e92a";
$icon-nomessage: "\e92b";
$icon-bc: "\e92c";
$icon-noreport: "\e92d";
$icon-recover: "\e92e";
$icon-expansion: "\e92f";
$icon-contraction: "\e930";
$icon-fx: "\e931";
$icon-rank: "\e932";
$icon-function: "\e933";
$icon-port: "\e934";
$icon-view: "\e935";
$icon-inf: "\e936";
$icon-response: "\e937";
$icon-link: "\e938";
$icon-unlink: "\e939";
$icon-clean: "\e93a";
$icon-handle: "\e93b";
$icon-iseq: "\e93c";
$icon-prople-add: "\e93d";
$icon-prople: "\e93e";
$icon-warning: "\e93f";
$icon-set: "\e940";
$icon-pro: "\e941";
$icon-first: "\e942";
$icon-pre: "\e943";
$icon-next: "\e944";
$icon-last: "\e945";
$icon-circleright: "\e949";
$icon-circledown: "\e948";
$icon-circleleft: "\e947";
$icon-circleup: "\e946"; 
$icon-recent: "\e94a";
$icon-notice: "\e94b";
$icon-center: "\e94c";
$icon-order: "\e94d";
$icon-tag: "\e94e";
$icon-like: "\e94f";
$icon-unlike: "\e950";
$icon-trouble: "\e951";
$icon-trouble-wait: "\e952";
$icon-trouble-doing: "\e953";
$icon-trouble-done: "\e954";
$icon-date: "\e955"; 
$icon-down: "\e956";
$icon-up: "\e957"; 
$icon-city: "\e958";
$icon-img: "\e959";
$icon-business: "\e95a";
$icon-oracle: "\e95b";
$icon-windows: "\e95c";
$icon-mysql: "\e95d";
$icon-process: "\e95e";
$icon-zport: "\e95f";
$icon-jboss: "\e960";
$icon-linux: "\e961";
$icon-shuchu:"\e962";
$icon-wd:"\e963";
$icon-list1: "\e964";
$icon-list2: "\e965";  
$icon-upload: "\e966"; 
$icon-jk: "\e967";
$icon-robot: "\e968";
$icon-people: "\e969";
