.f-content h1{
	color:rgba(0,0,0,1);
	padding:20px 0px 36px 0px;
}
.f-box-c{
	color:rgba(0,0,0,1);
	border-top:none;
	.col-xs-4{
		padding:0px 5px;
	}
}
.f-box-h1 h1{
	margin-bottom:20px;
}
.xn-main{
	margin-top:12px;
	.box-c{
		padding-top:10px;
	}
}