.jiankon-bar .box-nb-h {
    padding-left: 0px;
    line-height: 24px;
    .h-right .t {
        font-size: 19px;
    }
    .status-bar {
        margin-left: 0px;
    }
}

.jiankon-item-border {
    border-left: 1px solid #ddd;
}

.iconSize {
    font-size: 32px;
    margin-bottom: 32px;
}

// .icon {
//     vertical-align: middle;
//     // background-image: url("../images/jk/jk-icon.png");
//     // background-repeat: no-repeat;
//     display: inline-block;
// }
.icon-small {
    width: 19px;
    height: 18px;
    background-position: 0px -66px;
    margin-right: 7px;
}

.icon-big {
    width: 45px;
    height: 41px;
    background-position: 0px -24px;
}

.jiankon-item {
    text-align: center;
    padding: 0px 10px;
    margin: 24px 0px;
    .list {
        width: 100%;
        font-size: 14px;
    }
    .list > .title {
        color: #000;
        margin-bottom: 6px;
        text-align: center;
        font-size: 16px;
        &.t{
            color:$theme;
        }
    }
    .item {
        margin-top: 2.6%;
        margin-left: 2.6%;
        width: 30%;
        background-color: #e6e6e6;
        float: left;
        color: #fff;
        text-align: center;
        height: 155px;
        cursor: pointer;
    }
    .item-head,.jiankon-item-box { 
        i {
            &+p {
                font-size: 17*$px;
                line-height: 23*$px;
            }
        }
    }
    .item-head{
         text-align: left;
         padding: 15*$px 10% 15*$px 10%;   
         line-height: 27*$px; 
         i {
            margin-right: 10px;
            font-size:18*$px;
         }
    }
    .item-row { 
         text-align: left;
         padding  :0 10%; 
         line-height: 32*$px;
         @include  nowrap;
        i {
            margin-right: 10px; 
            font-size: 16*$px;
        }
        &+.item-row {
            border-top: 1px solid #50B6B1;
        }
    }
    @each $class, $color in( 1:#2E9F99, 2:#994699, 3:#34ABE1, 4:#6EAFF7, 5:#00B9CB, 6:#34B16C) {
        .item-#{$class} {
            overflow: hidden;
             background: $color;
            .jiankon-item-box{ 
             background: $color;
                &:hover {
                    background: lighten($color, 5%);
                }
            }
            .item-head {
                background: lighten($color, 5%);
            }
            .item-row {
                background: $color;
                &:hover {
                    background: lighten($color, 2%);
                }
                &+.item-row {
                    border-top: 1px solid lighten($color, 5%);
                }
            }
        }
    }
    .item {
        text-align: center;
       .jiankon-item-box {
            height:100%;
            box-sizing:border-box;
            padding-top: 30*$px;
            i{
                font-size: 44*$px;
                &+p {
                    padding-top: 15*$px;
                }
            }
        }
    }
}

.jiankon-table {
    padding: 0px 10px;
    .jiankon-thead {
        left: 0;
        right: 0;
        position: absolute;
        z-index: 9;
    }
}

.jiankon-box {
    // margin-top:  100px;
    padding-bottom: 100px;
}

.jiankon-content {
    width: 100%;
}

.jiankon-item-table {
    position: relative;
    display: none;
}

.jiankon-show {
    display: block;
}

.jiankon-item-left .list .title {
    color: #000;
}

.jiankon-toggle-con .box-c {
    border: none;
}

.jiankon-list-item {
    margin-bottom: 10px;
}

.jiankon-label {
    .from-label {
        width: 69px;
    }
    .form-value {
        margin-left: 89px;
        .datapick {
            .datapick-btn {
                margin-left: 69px;
            }
        }
    }
}

.jiankon-fixed {
    position: fixed;
    background: #f5f5f5;
    padding-bottom: 15px;
    top: 0px;
    z-index: 9999;
}
