$i-CCIpaiduiji-name: 'i-CCIpaiduiji';
$i-CCIpaiduiji-x: 72px;
$i-CCIpaiduiji-y: 24px;
$i-CCIpaiduiji-offset-x: -72px;
$i-CCIpaiduiji-offset-y: -24px;
$i-CCIpaiduiji-width: 16px;
$i-CCIpaiduiji-height: 16px;
$i-CCIpaiduiji-total-width: 208px;
$i-CCIpaiduiji-total-height: 208px;
$i-CCIpaiduiji-image: 'zysprite.png';
$i-CCIpaiduiji: (72px, 24px, -72px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-CCIpaiduiji', );
$i-CCIpaiduiji_hover-name: 'i-CCIpaiduiji_hover';
$i-CCIpaiduiji_hover-x: 72px;
$i-CCIpaiduiji_hover-y: 48px;
$i-CCIpaiduiji_hover-offset-x: -72px;
$i-CCIpaiduiji_hover-offset-y: -48px;
$i-CCIpaiduiji_hover-width: 16px;
$i-CCIpaiduiji_hover-height: 16px;
$i-CCIpaiduiji_hover-total-width: 208px;
$i-CCIpaiduiji_hover-total-height: 208px;
$i-CCIpaiduiji_hover-image: 'zysprite.png';
$i-CCIpaiduiji_hover: (72px, 48px, -72px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-CCIpaiduiji_hover', );
$i-PCfuwuqi-name: 'i-PCfuwuqi';
$i-PCfuwuqi-x: 0px;
$i-PCfuwuqi-y: 168px;
$i-PCfuwuqi-offset-x: 0px;
$i-PCfuwuqi-offset-y: -168px;
$i-PCfuwuqi-width: 16px;
$i-PCfuwuqi-height: 16px;
$i-PCfuwuqi-total-width: 208px;
$i-PCfuwuqi-total-height: 208px;
$i-PCfuwuqi-image: 'zysprite.png';
$i-PCfuwuqi: (0px, 168px, 0px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-PCfuwuqi', );
$i-PCfuwuqi_hover-name: 'i-PCfuwuqi_hover';
$i-PCfuwuqi_hover-x: 24px;
$i-PCfuwuqi_hover-y: 168px;
$i-PCfuwuqi_hover-offset-x: -24px;
$i-PCfuwuqi_hover-offset-y: -168px;
$i-PCfuwuqi_hover-width: 16px;
$i-PCfuwuqi_hover-height: 16px;
$i-PCfuwuqi_hover-total-width: 208px;
$i-PCfuwuqi_hover-total-height: 208px;
$i-PCfuwuqi_hover-image: 'zysprite.png';
$i-PCfuwuqi_hover: (24px, 168px, -24px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-PCfuwuqi_hover', );
$i-anquanruanjian-name: 'i-anquanruanjian';
$i-anquanruanjian-x: 24px;
$i-anquanruanjian-y: 0px;
$i-anquanruanjian-offset-x: -24px;
$i-anquanruanjian-offset-y: 0px;
$i-anquanruanjian-width: 16px;
$i-anquanruanjian-height: 16px;
$i-anquanruanjian-total-width: 208px;
$i-anquanruanjian-total-height: 208px;
$i-anquanruanjian-image: 'zysprite.png';
$i-anquanruanjian: (24px, 0px, -24px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-anquanruanjian', );
$i-anquanruanjian_hover-name: 'i-anquanruanjian_hover';
$i-anquanruanjian_hover-x: 144px;
$i-anquanruanjian_hover-y: 72px;
$i-anquanruanjian_hover-offset-x: -144px;
$i-anquanruanjian_hover-offset-y: -72px;
$i-anquanruanjian_hover-width: 16px;
$i-anquanruanjian_hover-height: 16px;
$i-anquanruanjian_hover-total-width: 208px;
$i-anquanruanjian_hover-total-height: 208px;
$i-anquanruanjian_hover-image: 'zysprite.png';
$i-anquanruanjian_hover: (144px, 72px, -144px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-anquanruanjian_hover', );
$i-banka2-name: 'i-banka2';
$i-banka2-x: 0px;
$i-banka2-y: 24px;
$i-banka2-offset-x: 0px;
$i-banka2-offset-y: -24px;
$i-banka2-width: 16px;
$i-banka2-height: 16px;
$i-banka2-total-width: 208px;
$i-banka2-total-height: 208px;
$i-banka2-image: 'zysprite.png';
$i-banka2: (0px, 24px, 0px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-banka2', );
$i-banka2_hover-name: 'i-banka2_hover';
$i-banka2_hover-x: 24px;
$i-banka2_hover-y: 24px;
$i-banka2_hover-offset-x: -24px;
$i-banka2_hover-offset-y: -24px;
$i-banka2_hover-width: 16px;
$i-banka2_hover-height: 16px;
$i-banka2_hover-total-width: 208px;
$i-banka2_hover-total-height: 208px;
$i-banka2_hover-image: 'zysprite.png';
$i-banka2_hover: (24px, 24px, -24px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-banka2_hover', );
$i-caozuoxitong-name: 'i-caozuoxitong';
$i-caozuoxitong-x: 48px;
$i-caozuoxitong-y: 0px;
$i-caozuoxitong-offset-x: -48px;
$i-caozuoxitong-offset-y: 0px;
$i-caozuoxitong-width: 16px;
$i-caozuoxitong-height: 16px;
$i-caozuoxitong-total-width: 208px;
$i-caozuoxitong-total-height: 208px;
$i-caozuoxitong-image: 'zysprite.png';
$i-caozuoxitong: (48px, 0px, -48px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-caozuoxitong', );
$i-caozuoxitong_hover-name: 'i-caozuoxitong_hover';
$i-caozuoxitong_hover-x: 48px;
$i-caozuoxitong_hover-y: 24px;
$i-caozuoxitong_hover-offset-x: -48px;
$i-caozuoxitong_hover-offset-y: -24px;
$i-caozuoxitong_hover-width: 16px;
$i-caozuoxitong_hover-height: 16px;
$i-caozuoxitong_hover-total-width: 208px;
$i-caozuoxitong_hover-total-height: 208px;
$i-caozuoxitong_hover-image: 'zysprite.png';
$i-caozuoxitong_hover: (48px, 24px, -48px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-caozuoxitong_hover', );
$i-ccbfruanjian-name: 'i-ccbfruanjian';
$i-ccbfruanjian-x: 0px;
$i-ccbfruanjian-y: 48px;
$i-ccbfruanjian-offset-x: 0px;
$i-ccbfruanjian-offset-y: -48px;
$i-ccbfruanjian-width: 16px;
$i-ccbfruanjian-height: 16px;
$i-ccbfruanjian-total-width: 208px;
$i-ccbfruanjian-total-height: 208px;
$i-ccbfruanjian-image: 'zysprite.png';
$i-ccbfruanjian: (0px, 48px, 0px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-ccbfruanjian', );
$i-ccbfruanjian_hover-name: 'i-ccbfruanjian_hover';
$i-ccbfruanjian_hover-x: 24px;
$i-ccbfruanjian_hover-y: 48px;
$i-ccbfruanjian_hover-offset-x: -24px;
$i-ccbfruanjian_hover-offset-y: -48px;
$i-ccbfruanjian_hover-width: 16px;
$i-ccbfruanjian_hover-height: 16px;
$i-ccbfruanjian_hover-total-width: 208px;
$i-ccbfruanjian_hover-total-height: 208px;
$i-ccbfruanjian_hover-image: 'zysprite.png';
$i-ccbfruanjian_hover: (24px, 48px, -24px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-ccbfruanjian_hover', );
$i-ccgcjiaohuanji-name: 'i-ccgcjiaohuanji';
$i-ccgcjiaohuanji-x: 48px;
$i-ccgcjiaohuanji-y: 48px;
$i-ccgcjiaohuanji-offset-x: -48px;
$i-ccgcjiaohuanji-offset-y: -48px;
$i-ccgcjiaohuanji-width: 16px;
$i-ccgcjiaohuanji-height: 16px;
$i-ccgcjiaohuanji-total-width: 208px;
$i-ccgcjiaohuanji-total-height: 208px;
$i-ccgcjiaohuanji-image: 'zysprite.png';
$i-ccgcjiaohuanji: (48px, 48px, -48px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-ccgcjiaohuanji', );
$i-ccgcjiaohuanji_hover-name: 'i-ccgcjiaohuanji_hover';
$i-ccgcjiaohuanji_hover-x: 72px;
$i-ccgcjiaohuanji_hover-y: 0px;
$i-ccgcjiaohuanji_hover-offset-x: -72px;
$i-ccgcjiaohuanji_hover-offset-y: 0px;
$i-ccgcjiaohuanji_hover-width: 16px;
$i-ccgcjiaohuanji_hover-height: 16px;
$i-ccgcjiaohuanji_hover-total-width: 208px;
$i-ccgcjiaohuanji_hover-total-height: 208px;
$i-ccgcjiaohuanji_hover-image: 'zysprite.png';
$i-ccgcjiaohuanji_hover: (72px, 0px, -72px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-ccgcjiaohuanji_hover', );
$i-cidaiku-name: 'i-cidaiku';
$i-cidaiku-x: 0px;
$i-cidaiku-y: 72px;
$i-cidaiku-offset-x: 0px;
$i-cidaiku-offset-y: -72px;
$i-cidaiku-width: 16px;
$i-cidaiku-height: 16px;
$i-cidaiku-total-width: 208px;
$i-cidaiku-total-height: 208px;
$i-cidaiku-image: 'zysprite.png';
$i-cidaiku: (0px, 72px, 0px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cidaiku', );
$i-cidaiku_hover-name: 'i-cidaiku_hover';
$i-cidaiku_hover-x: 24px;
$i-cidaiku_hover-y: 72px;
$i-cidaiku_hover-offset-x: -24px;
$i-cidaiku_hover-offset-y: -72px;
$i-cidaiku_hover-width: 16px;
$i-cidaiku_hover-height: 16px;
$i-cidaiku_hover-total-width: 208px;
$i-cidaiku_hover-total-height: 208px;
$i-cidaiku_hover-image: 'zysprite.png';
$i-cidaiku_hover: (24px, 72px, -24px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cidaiku_hover', );
$i-cipanku-name: 'i-cipanku';
$i-cipanku-x: 48px;
$i-cipanku-y: 72px;
$i-cipanku-offset-x: -48px;
$i-cipanku-offset-y: -72px;
$i-cipanku-width: 16px;
$i-cipanku-height: 16px;
$i-cipanku-total-width: 208px;
$i-cipanku-total-height: 208px;
$i-cipanku-image: 'zysprite.png';
$i-cipanku: (48px, 72px, -48px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cipanku', );
$i-cipanku_hover-name: 'i-cipanku_hover';
$i-cipanku_hover-x: 72px;
$i-cipanku_hover-y: 72px;
$i-cipanku_hover-offset-x: -72px;
$i-cipanku_hover-offset-y: -72px;
$i-cipanku_hover-width: 16px;
$i-cipanku_hover-height: 16px;
$i-cipanku_hover-total-width: 208px;
$i-cipanku_hover-total-height: 208px;
$i-cipanku_hover-image: 'zysprite.png';
$i-cipanku_hover: (72px, 72px, -72px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cipanku_hover', );
$i-cipanzhenlie-name: 'i-cipanzhenlie';
$i-cipanzhenlie-x: 96px;
$i-cipanzhenlie-y: 0px;
$i-cipanzhenlie-offset-x: -96px;
$i-cipanzhenlie-offset-y: 0px;
$i-cipanzhenlie-width: 16px;
$i-cipanzhenlie-height: 16px;
$i-cipanzhenlie-total-width: 208px;
$i-cipanzhenlie-total-height: 208px;
$i-cipanzhenlie-image: 'zysprite.png';
$i-cipanzhenlie: (96px, 0px, -96px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cipanzhenlie', );
$i-cipanzhenlie_hover-name: 'i-cipanzhenlie_hover';
$i-cipanzhenlie_hover-x: 96px;
$i-cipanzhenlie_hover-y: 24px;
$i-cipanzhenlie_hover-offset-x: -96px;
$i-cipanzhenlie_hover-offset-y: -24px;
$i-cipanzhenlie_hover-width: 16px;
$i-cipanzhenlie_hover-height: 16px;
$i-cipanzhenlie_hover-total-width: 208px;
$i-cipanzhenlie_hover-total-height: 208px;
$i-cipanzhenlie_hover-image: 'zysprite.png';
$i-cipanzhenlie_hover: (96px, 24px, -96px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cipanzhenlie_hover', );
$i-cpu-name: 'i-cpu';
$i-cpu-x: 96px;
$i-cpu-y: 48px;
$i-cpu-offset-x: -96px;
$i-cpu-offset-y: -48px;
$i-cpu-width: 16px;
$i-cpu-height: 16px;
$i-cpu-total-width: 208px;
$i-cpu-total-height: 208px;
$i-cpu-image: 'zysprite.png';
$i-cpu: (96px, 48px, -96px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cpu', );
$i-cpu_hover-name: 'i-cpu_hover';
$i-cpu_hover-x: 96px;
$i-cpu_hover-y: 72px;
$i-cpu_hover-offset-x: -96px;
$i-cpu_hover-offset-y: -72px;
$i-cpu_hover-width: 16px;
$i-cpu_hover-height: 16px;
$i-cpu_hover-total-width: 208px;
$i-cpu_hover-total-height: 208px;
$i-cpu_hover-image: 'zysprite.png';
$i-cpu_hover: (96px, 72px, -96px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cpu_hover', );
$i-cunchubeifenruanjian-name: 'i-cunchubeifenruanjian';
$i-cunchubeifenruanjian-x: 0px;
$i-cunchubeifenruanjian-y: 96px;
$i-cunchubeifenruanjian-offset-x: 0px;
$i-cunchubeifenruanjian-offset-y: -96px;
$i-cunchubeifenruanjian-width: 16px;
$i-cunchubeifenruanjian-height: 16px;
$i-cunchubeifenruanjian-total-width: 208px;
$i-cunchubeifenruanjian-total-height: 208px;
$i-cunchubeifenruanjian-image: 'zysprite.png';
$i-cunchubeifenruanjian: (0px, 96px, 0px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cunchubeifenruanjian', );
$i-cunchubeifenruanjian_hover-name: 'i-cunchubeifenruanjian_hover';
$i-cunchubeifenruanjian_hover-x: 24px;
$i-cunchubeifenruanjian_hover-y: 96px;
$i-cunchubeifenruanjian_hover-offset-x: -24px;
$i-cunchubeifenruanjian_hover-offset-y: -96px;
$i-cunchubeifenruanjian_hover-width: 16px;
$i-cunchubeifenruanjian_hover-height: 16px;
$i-cunchubeifenruanjian_hover-total-width: 208px;
$i-cunchubeifenruanjian_hover-total-height: 208px;
$i-cunchubeifenruanjian_hover-image: 'zysprite.png';
$i-cunchubeifenruanjian_hover: (24px, 96px, -24px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-cunchubeifenruanjian_hover', );
$i-diqiuyi1-name: 'i-diqiuyi1';
$i-diqiuyi1-x: 48px;
$i-diqiuyi1-y: 96px;
$i-diqiuyi1-offset-x: -48px;
$i-diqiuyi1-offset-y: -96px;
$i-diqiuyi1-width: 16px;
$i-diqiuyi1-height: 16px;
$i-diqiuyi1-total-width: 208px;
$i-diqiuyi1-total-height: 208px;
$i-diqiuyi1-image: 'zysprite.png';
$i-diqiuyi1: (48px, 96px, -48px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-diqiuyi1', );
$i-diqiuyi1_hover-name: 'i-diqiuyi1_hover';
$i-diqiuyi1_hover-x: 72px;
$i-diqiuyi1_hover-y: 96px;
$i-diqiuyi1_hover-offset-x: -72px;
$i-diqiuyi1_hover-offset-y: -96px;
$i-diqiuyi1_hover-width: 16px;
$i-diqiuyi1_hover-height: 16px;
$i-diqiuyi1_hover-total-width: 208px;
$i-diqiuyi1_hover-total-height: 208px;
$i-diqiuyi1_hover-image: 'zysprite.png';
$i-diqiuyi1_hover: (72px, 96px, -72px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-diqiuyi1_hover', );
$i-ditu-name: 'i-ditu';
$i-ditu-x: 96px;
$i-ditu-y: 96px;
$i-ditu-offset-x: -96px;
$i-ditu-offset-y: -96px;
$i-ditu-width: 16px;
$i-ditu-height: 16px;
$i-ditu-total-width: 208px;
$i-ditu-total-height: 208px;
$i-ditu-image: 'zysprite.png';
$i-ditu: (96px, 96px, -96px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-ditu', );
$i-ditu_hover-name: 'i-ditu_hover';
$i-ditu_hover-x: 120px;
$i-ditu_hover-y: 0px;
$i-ditu_hover-offset-x: -120px;
$i-ditu_hover-offset-y: 0px;
$i-ditu_hover-width: 16px;
$i-ditu_hover-height: 16px;
$i-ditu_hover-total-width: 208px;
$i-ditu_hover-total-height: 208px;
$i-ditu_hover-image: 'zysprite.png';
$i-ditu_hover: (120px, 0px, -120px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-ditu_hover', );
$i-fenqufuwuqi-png-name: 'i-fenqufuwuqi.png';
$i-fenqufuwuqi-png-x: 120px;
$i-fenqufuwuqi-png-y: 24px;
$i-fenqufuwuqi-png-offset-x: -120px;
$i-fenqufuwuqi-png-offset-y: -24px;
$i-fenqufuwuqi-png-width: 16px;
$i-fenqufuwuqi-png-height: 16px;
$i-fenqufuwuqi-png-total-width: 208px;
$i-fenqufuwuqi-png-total-height: 208px;
$i-fenqufuwuqi-png-image: 'zysprite.png';
$i-fenqufuwuqi-png: (120px, 24px, -120px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-fenqufuwuqi.png', );
$i-fenqufuwuqi_hover-png-name: 'i-fenqufuwuqi_hover.png';
$i-fenqufuwuqi_hover-png-x: 120px;
$i-fenqufuwuqi_hover-png-y: 48px;
$i-fenqufuwuqi_hover-png-offset-x: -120px;
$i-fenqufuwuqi_hover-png-offset-y: -48px;
$i-fenqufuwuqi_hover-png-width: 16px;
$i-fenqufuwuqi_hover-png-height: 16px;
$i-fenqufuwuqi_hover-png-total-width: 208px;
$i-fenqufuwuqi_hover-png-total-height: 208px;
$i-fenqufuwuqi_hover-png-image: 'zysprite.png';
$i-fenqufuwuqi_hover-png: (120px, 48px, -120px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-fenqufuwuqi_hover.png', );
$i-fuleishuxing-name: 'i-fuleishuxing';
$i-fuleishuxing-x: 120px;
$i-fuleishuxing-y: 72px;
$i-fuleishuxing-offset-x: -120px;
$i-fuleishuxing-offset-y: -72px;
$i-fuleishuxing-width: 16px;
$i-fuleishuxing-height: 16px;
$i-fuleishuxing-total-width: 208px;
$i-fuleishuxing-total-height: 208px;
$i-fuleishuxing-image: 'zysprite.png';
$i-fuleishuxing: (120px, 72px, -120px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-fuleishuxing', );
$i-fuleishuxing_hover-name: 'i-fuleishuxing_hover';
$i-fuleishuxing_hover-x: 120px;
$i-fuleishuxing_hover-y: 96px;
$i-fuleishuxing_hover-offset-x: -120px;
$i-fuleishuxing_hover-offset-y: -96px;
$i-fuleishuxing_hover-width: 16px;
$i-fuleishuxing_hover-height: 16px;
$i-fuleishuxing_hover-total-width: 208px;
$i-fuleishuxing_hover-total-height: 208px;
$i-fuleishuxing_hover-image: 'zysprite.png';
$i-fuleishuxing_hover: (120px, 96px, -120px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-fuleishuxing_hover', );
$i-genleishuxing-name: 'i-genleishuxing';
$i-genleishuxing-x: 0px;
$i-genleishuxing-y: 120px;
$i-genleishuxing-offset-x: 0px;
$i-genleishuxing-offset-y: -120px;
$i-genleishuxing-width: 16px;
$i-genleishuxing-height: 16px;
$i-genleishuxing-total-width: 208px;
$i-genleishuxing-total-height: 208px;
$i-genleishuxing-image: 'zysprite.png';
$i-genleishuxing: (0px, 120px, 0px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-genleishuxing', );
$i-genleishuxing_hover-name: 'i-genleishuxing_hover';
$i-genleishuxing_hover-x: 24px;
$i-genleishuxing_hover-y: 120px;
$i-genleishuxing_hover-offset-x: -24px;
$i-genleishuxing_hover-offset-y: -120px;
$i-genleishuxing_hover-width: 16px;
$i-genleishuxing_hover-height: 16px;
$i-genleishuxing_hover-total-width: 208px;
$i-genleishuxing_hover-total-height: 208px;
$i-genleishuxing_hover-image: 'zysprite.png';
$i-genleishuxing_hover: (24px, 120px, -24px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-genleishuxing_hover', );
$i-gongjuruanjian-name: 'i-gongjuruanjian';
$i-gongjuruanjian-x: 48px;
$i-gongjuruanjian-y: 120px;
$i-gongjuruanjian-offset-x: -48px;
$i-gongjuruanjian-offset-y: -120px;
$i-gongjuruanjian-width: 16px;
$i-gongjuruanjian-height: 16px;
$i-gongjuruanjian-total-width: 208px;
$i-gongjuruanjian-total-height: 208px;
$i-gongjuruanjian-image: 'zysprite.png';
$i-gongjuruanjian: (48px, 120px, -48px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-gongjuruanjian', );
$i-gongjuruanjian_hover-name: 'i-gongjuruanjian_hover';
$i-gongjuruanjian_hover-x: 72px;
$i-gongjuruanjian_hover-y: 120px;
$i-gongjuruanjian_hover-offset-x: -72px;
$i-gongjuruanjian_hover-offset-y: -120px;
$i-gongjuruanjian_hover-width: 16px;
$i-gongjuruanjian_hover-height: 16px;
$i-gongjuruanjian_hover-total-width: 208px;
$i-gongjuruanjian_hover-total-height: 208px;
$i-gongjuruanjian_hover-image: 'zysprite.png';
$i-gongjuruanjian_hover: (72px, 120px, -72px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-gongjuruanjian_hover', );
$i-guangpanku-name: 'i-guangpanku';
$i-guangpanku-x: 96px;
$i-guangpanku-y: 120px;
$i-guangpanku-offset-x: -96px;
$i-guangpanku-offset-y: -120px;
$i-guangpanku-width: 16px;
$i-guangpanku-height: 16px;
$i-guangpanku-total-width: 208px;
$i-guangpanku-total-height: 208px;
$i-guangpanku-image: 'zysprite.png';
$i-guangpanku: (96px, 120px, -96px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-guangpanku', );
$i-guangpanku_hover-name: 'i-guangpanku_hover';
$i-guangpanku_hover-x: 120px;
$i-guangpanku_hover-y: 120px;
$i-guangpanku_hover-offset-x: -120px;
$i-guangpanku_hover-offset-y: -120px;
$i-guangpanku_hover-width: 16px;
$i-guangpanku_hover-height: 16px;
$i-guangpanku_hover-total-width: 208px;
$i-guangpanku_hover-total-height: 208px;
$i-guangpanku_hover-image: 'zysprite.png';
$i-guangpanku_hover: (120px, 120px, -120px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-guangpanku_hover', );
$i-jifang-name: 'i-jifang';
$i-jifang-x: 144px;
$i-jifang-y: 0px;
$i-jifang-offset-x: -144px;
$i-jifang-offset-y: 0px;
$i-jifang-width: 16px;
$i-jifang-height: 16px;
$i-jifang-total-width: 208px;
$i-jifang-total-height: 208px;
$i-jifang-image: 'zysprite.png';
$i-jifang: (144px, 0px, -144px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jifang', );
$i-jifang_hover-name: 'i-jifang_hover';
$i-jifang_hover-x: 0px;
$i-jifang_hover-y: 0px;
$i-jifang_hover-offset-x: 0px;
$i-jifang_hover-offset-y: 0px;
$i-jifang_hover-width: 16px;
$i-jifang_hover-height: 16px;
$i-jifang_hover-total-width: 208px;
$i-jifang_hover-total-height: 208px;
$i-jifang_hover-image: 'zysprite.png';
$i-jifang_hover: (0px, 0px, 0px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jifang_hover', );
$i-jifangyingjian-name: 'i-jifangyingjian';
$i-jifangyingjian-x: 144px;
$i-jifangyingjian-y: 24px;
$i-jifangyingjian-offset-x: -144px;
$i-jifangyingjian-offset-y: -24px;
$i-jifangyingjian-width: 16px;
$i-jifangyingjian-height: 16px;
$i-jifangyingjian-total-width: 208px;
$i-jifangyingjian-total-height: 208px;
$i-jifangyingjian-image: 'zysprite.png';
$i-jifangyingjian: (144px, 24px, -144px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jifangyingjian', );
$i-jifangyingjian_hover-name: 'i-jifangyingjian_hover';
$i-jifangyingjian_hover-x: 144px;
$i-jifangyingjian_hover-y: 48px;
$i-jifangyingjian_hover-offset-x: -144px;
$i-jifangyingjian_hover-offset-y: -48px;
$i-jifangyingjian_hover-width: 16px;
$i-jifangyingjian_hover-height: 16px;
$i-jifangyingjian_hover-total-width: 208px;
$i-jifangyingjian_hover-total-height: 208px;
$i-jifangyingjian_hover-image: 'zysprite.png';
$i-jifangyingjian_hover: (144px, 48px, -144px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jifangyingjian_hover', );
$i-jincheng-name: 'i-jincheng';
$i-jincheng-x: 144px;
$i-jincheng-y: 96px;
$i-jincheng-offset-x: -144px;
$i-jincheng-offset-y: -96px;
$i-jincheng-width: 16px;
$i-jincheng-height: 16px;
$i-jincheng-total-width: 208px;
$i-jincheng-total-height: 208px;
$i-jincheng-image: 'zysprite.png';
$i-jincheng: (144px, 96px, -144px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jincheng', );
$i-jincheng_hover-name: 'i-jincheng_hover';
$i-jincheng_hover-x: 144px;
$i-jincheng_hover-y: 120px;
$i-jincheng_hover-offset-x: -144px;
$i-jincheng_hover-offset-y: -120px;
$i-jincheng_hover-width: 16px;
$i-jincheng_hover-height: 16px;
$i-jincheng_hover-total-width: 208px;
$i-jincheng_hover-total-height: 208px;
$i-jincheng_hover-image: 'zysprite.png';
$i-jincheng_hover: (144px, 120px, -144px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jincheng_hover', );
$i-jiqun-name: 'i-jiqun';
$i-jiqun-x: 0px;
$i-jiqun-y: 144px;
$i-jiqun-offset-x: 0px;
$i-jiqun-offset-y: -144px;
$i-jiqun-width: 16px;
$i-jiqun-height: 16px;
$i-jiqun-total-width: 208px;
$i-jiqun-total-height: 208px;
$i-jiqun-image: 'zysprite.png';
$i-jiqun: (0px, 144px, 0px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jiqun', );
$i-jiqun2-name: 'i-jiqun2';
$i-jiqun2-x: 24px;
$i-jiqun2-y: 144px;
$i-jiqun2-offset-x: -24px;
$i-jiqun2-offset-y: -144px;
$i-jiqun2-width: 16px;
$i-jiqun2-height: 16px;
$i-jiqun2-total-width: 208px;
$i-jiqun2-total-height: 208px;
$i-jiqun2-image: 'zysprite.png';
$i-jiqun2: (24px, 144px, -24px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jiqun2', );
$i-jiqun2_hover-name: 'i-jiqun2_hover';
$i-jiqun2_hover-x: 48px;
$i-jiqun2_hover-y: 144px;
$i-jiqun2_hover-offset-x: -48px;
$i-jiqun2_hover-offset-y: -144px;
$i-jiqun2_hover-width: 16px;
$i-jiqun2_hover-height: 16px;
$i-jiqun2_hover-total-width: 208px;
$i-jiqun2_hover-total-height: 208px;
$i-jiqun2_hover-image: 'zysprite.png';
$i-jiqun2_hover: (48px, 144px, -48px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jiqun2_hover', );
$i-jiqun_hover-name: 'i-jiqun_hover';
$i-jiqun_hover-x: 72px;
$i-jiqun_hover-y: 144px;
$i-jiqun_hover-offset-x: -72px;
$i-jiqun_hover-offset-y: -144px;
$i-jiqun_hover-width: 16px;
$i-jiqun_hover-height: 16px;
$i-jiqun_hover-total-width: 208px;
$i-jiqun_hover-total-height: 208px;
$i-jiqun_hover-image: 'zysprite.png';
$i-jiqun_hover: (72px, 144px, -72px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-jiqun_hover', );
$i-kuozhanxing-name: 'i-kuozhanxing';
$i-kuozhanxing-x: 96px;
$i-kuozhanxing-y: 144px;
$i-kuozhanxing-offset-x: -96px;
$i-kuozhanxing-offset-y: -144px;
$i-kuozhanxing-width: 16px;
$i-kuozhanxing-height: 16px;
$i-kuozhanxing-total-width: 208px;
$i-kuozhanxing-total-height: 208px;
$i-kuozhanxing-image: 'zysprite.png';
$i-kuozhanxing: (96px, 144px, -96px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-kuozhanxing', );
$i-kuozhanxing_hover-name: 'i-kuozhanxing_hover';
$i-kuozhanxing_hover-x: 120px;
$i-kuozhanxing_hover-y: 144px;
$i-kuozhanxing_hover-offset-x: -120px;
$i-kuozhanxing_hover-offset-y: -144px;
$i-kuozhanxing_hover-width: 16px;
$i-kuozhanxing_hover-height: 16px;
$i-kuozhanxing_hover-total-width: 208px;
$i-kuozhanxing_hover-total-height: 208px;
$i-kuozhanxing_hover-image: 'zysprite.png';
$i-kuozhanxing_hover: (120px, 144px, -120px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-kuozhanxing_hover', );
$i-luojiziyuan-name: 'i-luojiziyuan';
$i-luojiziyuan-x: 144px;
$i-luojiziyuan-y: 144px;
$i-luojiziyuan-offset-x: -144px;
$i-luojiziyuan-offset-y: -144px;
$i-luojiziyuan-width: 16px;
$i-luojiziyuan-height: 16px;
$i-luojiziyuan-total-width: 208px;
$i-luojiziyuan-total-height: 208px;
$i-luojiziyuan-image: 'zysprite.png';
$i-luojiziyuan: (144px, 144px, -144px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-luojiziyuan', );
$i-luojiziyuan_hover-name: 'i-luojiziyuan_hover';
$i-luojiziyuan_hover-x: 168px;
$i-luojiziyuan_hover-y: 0px;
$i-luojiziyuan_hover-offset-x: -168px;
$i-luojiziyuan_hover-offset-y: 0px;
$i-luojiziyuan_hover-width: 16px;
$i-luojiziyuan_hover-height: 16px;
$i-luojiziyuan_hover-total-width: 208px;
$i-luojiziyuan_hover-total-height: 208px;
$i-luojiziyuan_hover-image: 'zysprite.png';
$i-luojiziyuan_hover: (168px, 0px, -168px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-luojiziyuan_hover', );
$i-luyouqi-name: 'i-luyouqi';
$i-luyouqi-x: 168px;
$i-luyouqi-y: 24px;
$i-luyouqi-offset-x: -168px;
$i-luyouqi-offset-y: -24px;
$i-luyouqi-width: 16px;
$i-luyouqi-height: 16px;
$i-luyouqi-total-width: 208px;
$i-luyouqi-total-height: 208px;
$i-luyouqi-image: 'zysprite.png';
$i-luyouqi: (168px, 24px, -168px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-luyouqi', );
$i-luyouqi_hover-name: 'i-luyouqi_hover';
$i-luyouqi_hover-x: 168px;
$i-luyouqi_hover-y: 48px;
$i-luyouqi_hover-offset-x: -168px;
$i-luyouqi_hover-offset-y: -48px;
$i-luyouqi_hover-width: 16px;
$i-luyouqi_hover-height: 16px;
$i-luyouqi_hover-total-width: 208px;
$i-luyouqi_hover-total-height: 208px;
$i-luyouqi_hover-image: 'zysprite.png';
$i-luyouqi_hover: (168px, 48px, -168px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-luyouqi_hover', );
$i-moxingguanli-name: 'i-moxingguanli';
$i-moxingguanli-x: 168px;
$i-moxingguanli-y: 72px;
$i-moxingguanli-offset-x: -168px;
$i-moxingguanli-offset-y: -72px;
$i-moxingguanli-width: 16px;
$i-moxingguanli-height: 16px;
$i-moxingguanli-total-width: 208px;
$i-moxingguanli-total-height: 208px;
$i-moxingguanli-image: 'zysprite.png';
$i-moxingguanli: (168px, 72px, -168px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-moxingguanli', );
$i-moxingguanli_hover-name: 'i-moxingguanli_hover';
$i-moxingguanli_hover-x: 168px;
$i-moxingguanli_hover-y: 96px;
$i-moxingguanli_hover-offset-x: -168px;
$i-moxingguanli_hover-offset-y: -96px;
$i-moxingguanli_hover-width: 16px;
$i-moxingguanli_hover-height: 16px;
$i-moxingguanli_hover-total-width: 208px;
$i-moxingguanli_hover-total-height: 208px;
$i-moxingguanli_hover-image: 'zysprite.png';
$i-moxingguanli_hover: (168px, 96px, -168px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-moxingguanli_hover', );
$i-neicun-name: 'i-neicun';
$i-neicun-x: 168px;
$i-neicun-y: 120px;
$i-neicun-offset-x: -168px;
$i-neicun-offset-y: -120px;
$i-neicun-width: 16px;
$i-neicun-height: 16px;
$i-neicun-total-width: 208px;
$i-neicun-total-height: 208px;
$i-neicun-image: 'zysprite.png';
$i-neicun: (168px, 120px, -168px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-neicun', );
$i-neicun_hover-name: 'i-neicun_hover';
$i-neicun_hover-x: 168px;
$i-neicun_hover-y: 144px;
$i-neicun_hover-offset-x: -168px;
$i-neicun_hover-offset-y: -144px;
$i-neicun_hover-width: 16px;
$i-neicun_hover-height: 16px;
$i-neicun_hover-total-width: 208px;
$i-neicun_hover-total-height: 208px;
$i-neicun_hover-image: 'zysprite.png';
$i-neicun_hover: (168px, 144px, -168px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-neicun_hover', );
$i-shujukushili-name: 'i-shujukushili';
$i-shujukushili-x: 48px;
$i-shujukushili-y: 168px;
$i-shujukushili-offset-x: -48px;
$i-shujukushili-offset-y: -168px;
$i-shujukushili-width: 16px;
$i-shujukushili-height: 16px;
$i-shujukushili-total-width: 208px;
$i-shujukushili-total-height: 208px;
$i-shujukushili-image: 'zysprite.png';
$i-shujukushili: (48px, 168px, -48px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-shujukushili', );
$i-shujukushili_hover-name: 'i-shujukushili_hover';
$i-shujukushili_hover-x: 72px;
$i-shujukushili_hover-y: 168px;
$i-shujukushili_hover-offset-x: -72px;
$i-shujukushili_hover-offset-y: -168px;
$i-shujukushili_hover-width: 16px;
$i-shujukushili_hover-height: 16px;
$i-shujukushili_hover-total-width: 208px;
$i-shujukushili_hover-total-height: 208px;
$i-shujukushili_hover-image: 'zysprite.png';
$i-shujukushili_hover: (72px, 168px, -72px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-shujukushili_hover', );
$i-wendang-name: 'i-wendang';
$i-wendang-x: 96px;
$i-wendang-y: 168px;
$i-wendang-offset-x: -96px;
$i-wendang-offset-y: -168px;
$i-wendang-width: 16px;
$i-wendang-height: 16px;
$i-wendang-total-width: 208px;
$i-wendang-total-height: 208px;
$i-wendang-image: 'zysprite.png';
$i-wendang: (96px, 168px, -96px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-wendang', );
$i-wendang_hover-name: 'i-wendang_hover';
$i-wendang_hover-x: 120px;
$i-wendang_hover-y: 168px;
$i-wendang_hover-offset-x: -120px;
$i-wendang_hover-offset-y: -168px;
$i-wendang_hover-width: 16px;
$i-wendang_hover-height: 16px;
$i-wendang_hover-total-width: 208px;
$i-wendang_hover-total-height: 208px;
$i-wendang_hover-image: 'zysprite.png';
$i-wendang_hover: (120px, 168px, -120px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-wendang_hover', );
$i-wljiaohuanji-name: 'i-wljiaohuanji';
$i-wljiaohuanji-x: 144px;
$i-wljiaohuanji-y: 168px;
$i-wljiaohuanji-offset-x: -144px;
$i-wljiaohuanji-offset-y: -168px;
$i-wljiaohuanji-width: 16px;
$i-wljiaohuanji-height: 16px;
$i-wljiaohuanji-total-width: 208px;
$i-wljiaohuanji-total-height: 208px;
$i-wljiaohuanji-image: 'zysprite.png';
$i-wljiaohuanji: (144px, 168px, -144px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-wljiaohuanji', );
$i-wljiaohuanji_hover-name: 'i-wljiaohuanji_hover';
$i-wljiaohuanji_hover-x: 168px;
$i-wljiaohuanji_hover-y: 168px;
$i-wljiaohuanji_hover-offset-x: -168px;
$i-wljiaohuanji_hover-offset-y: -168px;
$i-wljiaohuanji_hover-width: 16px;
$i-wljiaohuanji_hover-height: 16px;
$i-wljiaohuanji_hover-total-width: 208px;
$i-wljiaohuanji_hover-total-height: 208px;
$i-wljiaohuanji_hover-image: 'zysprite.png';
$i-wljiaohuanji_hover: (168px, 168px, -168px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-wljiaohuanji_hover', );
$i-xiaoxingji-name: 'i-xiaoxingji';
$i-xiaoxingji-x: 192px;
$i-xiaoxingji-y: 0px;
$i-xiaoxingji-offset-x: -192px;
$i-xiaoxingji-offset-y: 0px;
$i-xiaoxingji-width: 16px;
$i-xiaoxingji-height: 16px;
$i-xiaoxingji-total-width: 208px;
$i-xiaoxingji-total-height: 208px;
$i-xiaoxingji-image: 'zysprite.png';
$i-xiaoxingji: (192px, 0px, -192px, 0px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-xiaoxingji', );
$i-xiaoxingji_hover-name: 'i-xiaoxingji_hover';
$i-xiaoxingji_hover-x: 192px;
$i-xiaoxingji_hover-y: 24px;
$i-xiaoxingji_hover-offset-x: -192px;
$i-xiaoxingji_hover-offset-y: -24px;
$i-xiaoxingji_hover-width: 16px;
$i-xiaoxingji_hover-height: 16px;
$i-xiaoxingji_hover-total-width: 208px;
$i-xiaoxingji_hover-total-height: 208px;
$i-xiaoxingji_hover-image: 'zysprite.png';
$i-xiaoxingji_hover: (192px, 24px, -192px, -24px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-xiaoxingji_hover', );
$i-xitongguanliruanjian-name: 'i-xitongguanliruanjian';
$i-xitongguanliruanjian-x: 192px;
$i-xitongguanliruanjian-y: 48px;
$i-xitongguanliruanjian-offset-x: -192px;
$i-xitongguanliruanjian-offset-y: -48px;
$i-xitongguanliruanjian-width: 16px;
$i-xitongguanliruanjian-height: 16px;
$i-xitongguanliruanjian-total-width: 208px;
$i-xitongguanliruanjian-total-height: 208px;
$i-xitongguanliruanjian-image: 'zysprite.png';
$i-xitongguanliruanjian: (192px, 48px, -192px, -48px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-xitongguanliruanjian', );
$i-xitongguanliruanjian_hover-name: 'i-xitongguanliruanjian_hover';
$i-xitongguanliruanjian_hover-x: 192px;
$i-xitongguanliruanjian_hover-y: 72px;
$i-xitongguanliruanjian_hover-offset-x: -192px;
$i-xitongguanliruanjian_hover-offset-y: -72px;
$i-xitongguanliruanjian_hover-width: 16px;
$i-xitongguanliruanjian_hover-height: 16px;
$i-xitongguanliruanjian_hover-total-width: 208px;
$i-xitongguanliruanjian_hover-total-height: 208px;
$i-xitongguanliruanjian_hover-image: 'zysprite.png';
$i-xitongguanliruanjian_hover: (192px, 72px, -192px, -72px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-xitongguanliruanjian_hover', );
$i-yingpan-name: 'i-yingpan';
$i-yingpan-x: 192px;
$i-yingpan-y: 96px;
$i-yingpan-offset-x: -192px;
$i-yingpan-offset-y: -96px;
$i-yingpan-width: 16px;
$i-yingpan-height: 16px;
$i-yingpan-total-width: 208px;
$i-yingpan-total-height: 208px;
$i-yingpan-image: 'zysprite.png';
$i-yingpan: (192px, 96px, -192px, -96px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-yingpan', );
$i-yingpan_hover-name: 'i-yingpan_hover';
$i-yingpan_hover-x: 192px;
$i-yingpan_hover-y: 120px;
$i-yingpan_hover-offset-x: -192px;
$i-yingpan_hover-offset-y: -120px;
$i-yingpan_hover-width: 16px;
$i-yingpan_hover-height: 16px;
$i-yingpan_hover-total-width: 208px;
$i-yingpan_hover-total-height: 208px;
$i-yingpan_hover-image: 'zysprite.png';
$i-yingpan_hover: (192px, 120px, -192px, -120px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-yingpan_hover', );
$i-yingyongchengxu-name: 'i-yingyongchengxu';
$i-yingyongchengxu-x: 192px;
$i-yingyongchengxu-y: 144px;
$i-yingyongchengxu-offset-x: -192px;
$i-yingyongchengxu-offset-y: -144px;
$i-yingyongchengxu-width: 16px;
$i-yingyongchengxu-height: 16px;
$i-yingyongchengxu-total-width: 208px;
$i-yingyongchengxu-total-height: 208px;
$i-yingyongchengxu-image: 'zysprite.png';
$i-yingyongchengxu: (192px, 144px, -192px, -144px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-yingyongchengxu', );
$i-yingyongchengxu_hover-name: 'i-yingyongchengxu_hover';
$i-yingyongchengxu_hover-x: 192px;
$i-yingyongchengxu_hover-y: 168px;
$i-yingyongchengxu_hover-offset-x: -192px;
$i-yingyongchengxu_hover-offset-y: -168px;
$i-yingyongchengxu_hover-width: 16px;
$i-yingyongchengxu_hover-height: 16px;
$i-yingyongchengxu_hover-total-width: 208px;
$i-yingyongchengxu_hover-total-height: 208px;
$i-yingyongchengxu_hover-image: 'zysprite.png';
$i-yingyongchengxu_hover: (192px, 168px, -192px, -168px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-yingyongchengxu_hover', );
$i-zhongjianfuwuqi-name: 'i-zhongjianfuwuqi';
$i-zhongjianfuwuqi-x: 0px;
$i-zhongjianfuwuqi-y: 192px;
$i-zhongjianfuwuqi-offset-x: 0px;
$i-zhongjianfuwuqi-offset-y: -192px;
$i-zhongjianfuwuqi-width: 16px;
$i-zhongjianfuwuqi-height: 16px;
$i-zhongjianfuwuqi-total-width: 208px;
$i-zhongjianfuwuqi-total-height: 208px;
$i-zhongjianfuwuqi-image: 'zysprite.png';
$i-zhongjianfuwuqi: (0px, 192px, 0px, -192px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-zhongjianfuwuqi', );
$i-zhongjianfuwuqi2-name: 'i-zhongjianfuwuqi2';
$i-zhongjianfuwuqi2-x: 24px;
$i-zhongjianfuwuqi2-y: 192px;
$i-zhongjianfuwuqi2-offset-x: -24px;
$i-zhongjianfuwuqi2-offset-y: -192px;
$i-zhongjianfuwuqi2-width: 16px;
$i-zhongjianfuwuqi2-height: 16px;
$i-zhongjianfuwuqi2-total-width: 208px;
$i-zhongjianfuwuqi2-total-height: 208px;
$i-zhongjianfuwuqi2-image: 'zysprite.png';
$i-zhongjianfuwuqi2: (24px, 192px, -24px, -192px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-zhongjianfuwuqi2', );
$i-zhongjianfuwuqi2_hover-name: 'i-zhongjianfuwuqi2_hover';
$i-zhongjianfuwuqi2_hover-x: 48px;
$i-zhongjianfuwuqi2_hover-y: 192px;
$i-zhongjianfuwuqi2_hover-offset-x: -48px;
$i-zhongjianfuwuqi2_hover-offset-y: -192px;
$i-zhongjianfuwuqi2_hover-width: 16px;
$i-zhongjianfuwuqi2_hover-height: 16px;
$i-zhongjianfuwuqi2_hover-total-width: 208px;
$i-zhongjianfuwuqi2_hover-total-height: 208px;
$i-zhongjianfuwuqi2_hover-image: 'zysprite.png';
$i-zhongjianfuwuqi2_hover: (48px, 192px, -48px, -192px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-zhongjianfuwuqi2_hover', );
$i-zhongjianfuwuqi_hover-name: 'i-zhongjianfuwuqi_hover';
$i-zhongjianfuwuqi_hover-x: 72px;
$i-zhongjianfuwuqi_hover-y: 192px;
$i-zhongjianfuwuqi_hover-offset-x: -72px;
$i-zhongjianfuwuqi_hover-offset-y: -192px;
$i-zhongjianfuwuqi_hover-width: 16px;
$i-zhongjianfuwuqi_hover-height: 16px;
$i-zhongjianfuwuqi_hover-total-width: 208px;
$i-zhongjianfuwuqi_hover-total-height: 208px;
$i-zhongjianfuwuqi_hover-image: 'zysprite.png';
$i-zhongjianfuwuqi_hover: (72px, 192px, -72px, -192px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-zhongjianfuwuqi_hover', );
$i-zishenshuxing-name: 'i-zishenshuxing';
$i-zishenshuxing-x: 96px;
$i-zishenshuxing-y: 192px;
$i-zishenshuxing-offset-x: -96px;
$i-zishenshuxing-offset-y: -192px;
$i-zishenshuxing-width: 16px;
$i-zishenshuxing-height: 16px;
$i-zishenshuxing-total-width: 208px;
$i-zishenshuxing-total-height: 208px;
$i-zishenshuxing-image: 'zysprite.png';
$i-zishenshuxing: (96px, 192px, -96px, -192px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-zishenshuxing', );
$i-zishenshuxing_hover-name: 'i-zishenshuxing_hover';
$i-zishenshuxing_hover-x: 120px;
$i-zishenshuxing_hover-y: 192px;
$i-zishenshuxing_hover-offset-x: -120px;
$i-zishenshuxing_hover-offset-y: -192px;
$i-zishenshuxing_hover-width: 16px;
$i-zishenshuxing_hover-height: 16px;
$i-zishenshuxing_hover-total-width: 208px;
$i-zishenshuxing_hover-total-height: 208px;
$i-zishenshuxing_hover-image: 'zysprite.png';
$i-zishenshuxing_hover: (120px, 192px, -120px, -192px, 16px, 16px, 208px, 208px, 'zysprite.png', 'i-zishenshuxing_hover', );
$spritesheet-width: 208px;
$spritesheet-height: 208px;
$spritesheet-image: 'zysprite.png';
$spritesheet-sprites: ($i-CCIpaiduiji, $i-CCIpaiduiji_hover, $i-PCfuwuqi, $i-PCfuwuqi_hover, $i-anquanruanjian, $i-anquanruanjian_hover, $i-banka2, $i-banka2_hover, $i-caozuoxitong, $i-caozuoxitong_hover, $i-ccbfruanjian, $i-ccbfruanjian_hover, $i-ccgcjiaohuanji, $i-ccgcjiaohuanji_hover, $i-cidaiku, $i-cidaiku_hover, $i-cipanku, $i-cipanku_hover, $i-cipanzhenlie, $i-cipanzhenlie_hover, $i-cpu, $i-cpu_hover, $i-cunchubeifenruanjian, $i-cunchubeifenruanjian_hover, $i-diqiuyi1, $i-diqiuyi1_hover, $i-ditu, $i-ditu_hover, $i-fenqufuwuqi-png, $i-fenqufuwuqi_hover-png, $i-fuleishuxing, $i-fuleishuxing_hover, $i-genleishuxing, $i-genleishuxing_hover, $i-gongjuruanjian, $i-gongjuruanjian_hover, $i-guangpanku, $i-guangpanku_hover, $i-jifang, $i-jifang_hover, $i-jifangyingjian, $i-jifangyingjian_hover, $i-jincheng, $i-jincheng_hover, $i-jiqun,$i-jiqun_hover,$i-jiqun2, $i-jiqun2_hover, $i-kuozhanxing, $i-kuozhanxing_hover, $i-luojiziyuan, $i-luojiziyuan_hover, $i-luyouqi, $i-luyouqi_hover, $i-moxingguanli, $i-moxingguanli_hover, $i-neicun, $i-neicun_hover, $i-shujukushili, $i-shujukushili_hover, $i-wendang, $i-wendang_hover, $i-wljiaohuanji, $i-wljiaohuanji_hover, $i-xiaoxingji, $i-xiaoxingji_hover, $i-xitongguanliruanjian, $i-xitongguanliruanjian_hover, $i-yingpan, $i-yingpan_hover, $i-yingyongchengxu, $i-yingyongchengxu_hover, $i-zhongjianfuwuqi, $i-zhongjianfuwuqi_hover, $i-zhongjianfuwuqi2, $i-zhongjianfuwuqi2_hover, $i-zishenshuxing, $i-zishenshuxing_hover, );
$spritesheet: (208px, 208px, 'zysprite.png', $spritesheet-sprites, );
@mixin sprite-width($sprite) {
    width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
    height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x $sprite-offset-y;
}

@mixin sprite-image($sprite) {
    $sprite-image: nth($sprite, 9);
    background-image: url(../images/zy/#{$sprite-image});
}

@mixin sprite($sprite) {
    @include sprite-position($sprite);
}


/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/

@mixin sprites($sprites:$spritesheet-sprites) {
    // @each $sprite in $sprites {
    //   $sprite-name: to-lower-case(nth($sprite, 10));
    //   .#{$sprite-name} {
    //     @include sprite($sprite); 
    //     @include inline-block;
    //     &:hover{
    //     	 sprite-position($sprite);
    //     }
    //   }
    // }
     %extendsprite {
        @include inline-block;
        @include sprite-width($i-luojiziyuan);
        @include sprite-height($i-luojiziyuan);
        @include sprite-image($i-luojiziyuan); 
        @include sprite-position($i-luojiziyuan );
        margin-right: 5*$px;
    	vertical-align: -3px;
    	

    }
    .i-zyequip{
    	   @extend %extendsprite ;

    }
    &.p-btn-active .i-zyequip,&:hover  .i-zyequip {
            @include sprite-position($i-luojiziyuan_hover);
   }
    @for $i from 1 through 39 {
        $sprite: nth($sprites, $i*2-1);
        $sprite-hover: nth($sprites, $i*2);
        $sprite-name: to-lower-case(nth($sprite, 10));
         .#{$sprite-name} {
             @include sprite-position($sprite);
        }
        &.p-btn-active .#{$sprite-name},&:hover  .#{$sprite-name} {
            @include sprite-position($sprite-hover);
        }
    }
}
