@font-face {
    font-family: 'icomoon';
    src: url('#{$icomoon-font-path}/icomoon.eot');
    src: url('#{$icomoon-font-path}/icomoon.eot#iefix') format('embedded-opentype'), url('#{$icomoon-font-path}/icomoon.ttf') format('truetype'), url('#{$icomoon-font-path}/icomoon.woff') format('woff'), url('#{$icomoon-font-path}/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icon, %extendicon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     &.t {

        color: $theme;
    }
   
}
i,span{
    &.icon.t ,&%extendicon.t{
         color: $theme;
    }
}

@each $icon, $value in (sort-amount-desc:$icon-sort-amount-desc,sort-amount-asc:$icon-sort-amount-asc,p:$icon-p, state:$icon-state, del:$icon-del, send:$icon-send, time:$icon-time, tasklist:$icon-tasklist, search:$icon-search, template:$icon-template, add:$icon-add, channel:$icon-channel, check:$icon-check, daleft:$icon-daleft, daright:$icon-daright, circle:$icon-circle, home:$icon-home, code:$icon-code, asterisk:$icon-asterisk, daup:$icon-daup, dadown:$icon-dadown, include:$icon-include, exclude:$icon-exclude, import:$icon-import, close:$icon-close, list:$icon-list, restart:$icon-restart, edit:$icon-edit, tool:$icon-tool, database:$icon-database, data:$icon-data, pie:$icon-pie, return:$icon-return, update:$icon-update, offline:$icon-offline, upline:$icon-upline, block:$icon-block, voice:$icon-voice, novoice:$icon-novoice, stop:$icon-stop, play:$icon-play, adjust:$icon-adjust, more:$icon-more, copy:$icon-copy, message:$icon-message, nomessage:$icon-nomessage, bc:$icon-bc, noreport:$icon-noreport, recover:$icon-recover, expansion:$icon-expansion, contraction:$icon-contraction, fx:$icon-fx, rank:$icon-rank, function:$icon-function, port:$icon-port, view:$icon-view, inf:$icon-inf, response:$icon-response, link:$icon-link, unlink:$icon-unlink, clean:$icon-clean, handle:$icon-handle, iseq:$icon-iseq, prople-add:$icon-prople-add, prople:$icon-prople, pro:$icon-pro, set:$icon-set, warning:$icon-warning, circleright: $icon-circleright, circledown: $icon-circledown, circleleft:$icon-circleleft, circleup: $icon-circleup, first:$icon-first, pre:$icon-pre, next:$icon-next, last:$icon-last, recent:$icon-recent, notice:$icon-notice, center:$icon-center, order:$icon-order, tag:$icon-tag, like:$icon-like, unlike:$icon-unlike, trouble:$icon-trouble, trouble-wait:$icon-trouble-wait, trouble-doing:$icon-trouble-doing, trouble-done:$icon-trouble-done, date:$icon-date, down:$icon-down, up:$icon-up, city: $icon-city, img:$icon-img, business:$icon-business, oracle:$icon-oracle, windows:$icon-windows, mysql:$icon-mysql, process:$icon-process, zport:$icon-zport, jboss:$icon-jboss, linux:$icon-linux, jk:$icon-jk,wd:$icon-wd,shuchu:$icon-shuchu,list1:$icon-list1,list2:$icon-list2,upload:$icon-upload,robot:$icon-robot,people:$icon-people) {
    .icon-#{$icon} {
        &:before {
            content: $value;
        }
    }
}

.arrowtop {
    position: relative;
    @include inline-block;
    top: 1px;
    width: 2px;
    height: 10px;
    background: $theme;
    margin-left: 5*$px;
    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: -4px;
        @include inline-block;
        border-style: solid;
        border-width: 0 5px 4px 5px;
        border-color: transparent transparent $theme;
    }
}

.icon-backgroud {
    position: relative;
    width: 18px;
    height: 18px;
    background: #6eaef6;
    text-align-last: center;
    line-height: 16*$px;
    &.icon,&.icon.icon-daup , &.icon.icon-dadown {
        color: #fff;
        vertical-align: middle;
    }
    &:before {
        position: absolute;
        top: 0;
        line-height: 1;
    }
    &.icon.icon-daup , &.icon.icon-dadown {
         &:before {
            left:1*$px;
            vertical-align: 1*$px;
         }
    }
}

.icon-circle {
    position: relative;
    .icon {
        position: absolute; 
    }
}
