.treemenu {
    position: relative;
    z-index: 1;
    padding-top: 5*$px;
    overflow: hidden;
    @include inline-block;
    min-width:$left-width - 10*$px;
    li {
        position: relative;
        font-size: $treemenu-font-size;
        line-height: $treemenu-item-lineheight;
        padding: 0 5*$px 0 25*$px;
        a {
            position: relative;
            color: #575757;
            display: block;
            word-break: keep-all;
            white-space: nowrap;
            cursor: pointer;
        }
        // padding-left: 30*$px;
        .icon-toggle {
            content: "";
            position: absolute;
            left: 10*$px;
            width: 0;
            height: 0;
            margin-top: $treemenu-item-lineheight/2-3*$px;
            margin-right: 15*$px;
            border-width: 6*$px 5*$px 0;
            border-style: solid;
            border-color: #828282 transparent transparent transparent;
            line-height: 0;
            vertical-align: top;
            cursor: default; 
        }
        &.open, &.close {
            .sub-treemenu {
                display: block;
            }
        }
        &.close {
            .icon-toggle {
                margin-top: $treemenu-item-lineheight/2-6*$px;
                border-width: 5*$px  0 5*$px 6*$px ;
                border-color: transparent transparent  transparent #828282;
            }
            .sub-treemenu {
                display: none;
            }
        }
    }
    span:hover {
        a {
            color: $treemenu-item-sel-bg;
        }
    }
    .open.sel span,.open.sel span:hover {
        &>.icon-toggle {
            border-color: #fff transparent transparent transparent;
        }
    }
    .close.sel span,.close.sel span:hover  {
        &>.icon-toggle {
            border-color: transparent transparent  transparent #fff;
        }
    }
    .open span:hover {
        &>.icon-toggle {
            border-color: $treemenu-item-sel-bg transparent transparent transparent;
        }
    }
    .close span:hover {
        &>.icon-toggle {
            border-color: transparent transparent  transparent $treemenu-item-sel-bg;
        }
    }
    .sel>span, .sel>span:hover {
        &:after {
            content: "";
            position: absolute;
            left: -100px;
            right: -100px;
            top: 0;
            height: $treemenu-item-sub-lineheight;
            background: $treemenu-item-sel-bg;
            z-index: -1;
        }
        a {
            color: $treemenu-item-sel-fcolor;
        }
    }
}

.sub-treemenu {
    li {
        line-height: $treemenu-item-sub-lineheight;
        padding-left: 20*$px;
        .icon-toggle {
            left: 5*$px;

        }
    }
}

.listmenu{
    position: relative;
    .menu-item{
        position: relative;
        z-index: 2;
        display: block;
        padding-left:15*$px;
        color: #575757;
        cursor: pointer;
        a{
            font-size: 15*$px;
            color: inherit;
            line-height:35*$px;
            .icon{
                color: #999;
                margin-right: 8*$px;
            }
        }
        &.sel,&.hover{
            color:#fff;
            .icon{
                color: #fff;
            }
        }
        
    }
    .selbg{
        position: absolute;
        background:$theme;
        left:0;
        top:0;
        width:100%;
        height:35*$px;
        z-index: 1;
        transition: top .15s cubic-bezier(.4, 0, .2, 1);
    }
}
 